/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: rgba(225,224,186,0.2);
	--app-blur: 0px;
	--app-margin: 10px;
	--app-radius: 10px; /*	-	*/

	--accent-hue: 200;
	--accent-saturation: 100%;
	--accent-lightness: 80%;
	--accent-opacity: 0.8;
	--accent-text-color: #fff; /*	-	*/

	--sidebar-color: rgba(225,224,186,0.05);
	--main-content-color: rgba(225,224,186,0.05); /*	-	*/

	--message-color: rgba(255,255,255,0.1);
	--message-radius: 4px;
	--message-padding-top: 3px;
	--message-padding-side: 3px; /*	-	*/

	--reply-hue: 90;
	--reply-saturation: 100%;
	--reply-lightness: 90%;
	--reply-opacity: 0.4; /*	-	*/

	--textarea-color: rgba(0,0,0,1);
	--textarea-alpha: 1;
	--textarea-alpha-focus: 1;
	--textarea-text-color: rgba(255,255,255,1);
	--textarea-radius: 1px;  /*	-	*/

	--card-color: rgba(5,99,167,0.2);
	--card-color-hover: rgba(5,99,167,1);
	--card-color-select: rgba(5,99,167,1); /*	-	*/

	--button-height: 2px;
	--button-padding: 0 10px;
	--button-action-color: #000;
	--button-radius: 3px; /*	-	*/

	--interactive-normal: #fff;
	--interactive-hover: #fff;
	--interactive-active: #fff;
	--interactive-muted: #000; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.1);
	--background-modifier-selected: rgba(255,255,255,0.1);
}
