/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    rgba(0,0,0,0.25);
    bg1:    rgba(0,0,0,0.25);
    bg2:    #dc9898;
    bg3:    #c0c0c0;

    fg0:    #5f8787;
    fg1:    #dc9898;
    fg2:    #dc9898;
    fg3:    #dc9898;
}

@import "template/rounded-template.rasi"
