/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    rgba(0,0,0,0.7);
    bg1:    #90908E;
    bg2:    #8B1007;
    bg3:    #E5542A;

    fg0:    #ffffff;
    fg1:    #ffffff;
    fg2:    #8B1007;
    fg3:    #8B1007;
}

@import "template/rounded-template.rasi"
